<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="thingOne" class="org.example.beans.ThingOne">
        <constructor-arg ref="thingThree"></constructor-arg>
        <constructor-arg ref="thingTwo"></constructor-arg>
    </bean>
    <bean id="thingTwo" class="org.example.beans.ThingTwo"></bean>
    <bean id="thingThree" class="org.example.beans.ThingThree"></bean>

<!--    <bean id="orderService" class="org.example.service.OrderService"></bean>-->
<!--    <bean id="userService" class="org.example.service.UserService" autowire="byName"></bean>-->
</beans>